<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153404377469-tb6a8uk0ll94upenj4a5cskimeh4jfmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153404377469-tb6a8uk0ll94upenj4a5cskimeh4jfmb</string>
	<key>API_KEY</key>
	<string>AIzaSyAjqcLCSbhXgRNDTl_Qf7BrlPMrYYySrds</string>
	<key>GCM_SENDER_ID</key>
	<string>153404377469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tdi.groupware</string>
	<key>PROJECT_ID</key>
	<string>tdi-hr-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tdi-hr-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153404377469:ios:36697bc9f174ab30cfe414</string>
</dict>
</plist>